@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  padding: 0;
  margin: 0;
}

.header, .footer {
  grid-row: 1/2;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../imgs/underwater.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1164px) {
  .header, .footer {
    display: grid;
    justify-content: stretch;
    justify-items: center;
  }
}

.heading-1, .part-a-heading, .paragraph-text, .footer-text, .anchor-text, .heading-2 {
  font-family: "Fjalla One", sans-serif;
  color: white;
  font-size: 64px;
  margin: 0 auto 0 auto;
  text-align: center;
  animation: fadein 2s;
}
@media screen and (max-width: 414px) {
  .heading-1, .part-a-heading, .paragraph-text, .footer-text, .anchor-text, .heading-2 {
    font-size: 9vw;
  }
}

.heading-2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 32px;
  animation: fadein 4s;
}
@media screen and (max-width: 414px) {
  .heading-2 {
    font-size: 5vw;
  }
}

nav {
  grid-row: 2/3;
}

.paragraph-text, .footer-text, .anchor-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  animation: none;
  margin: 0;
  text-align: left;
  color: black;
}

.footer-text, .anchor-text {
  color: white;
  margin: 0 auto 0 auto;
  text-align: center;
}

.anchor-text {
  text-decoration: none;
}

.content {
  grid-row: 3/4;
  background-color: #9AD6FB;
}

.part-a {
  max-width: 90%;
  margin: 100px auto 100px auto;
}

.part-b {
  margin: 0 auto 100px auto;
}

.timeline-container {
  margin: 0 auto 0 auto;
}

.part-a-heading {
  color: black;
  font-size: 2.5rem;
  animation: none;
  margin-bottom: 100px;
}

.timeline-heading {
  font-size: 2rem;
  margin-bottom: 0.5em;
  font-family: "Fjalla One", sans-serif;
  text-align: left;
}

.timeline-item:nth-of-type(odd) {
  margin-right: auto;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  border-left: none;
  width: 50%;
  padding: 3em 2em 2em;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
}
.timeline-item:nth-of-type(odd) ul {
  list-style-type: circle;
  direction: ltr;
}
.timeline-item:nth-of-type(odd)::after {
  content: attr(field);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1em;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.785rem;
}
.timeline-item:nth-of-type(odd)::before {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -4px;
  border-radius: 10px;
  content: "";
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
}
.timeline-item:nth-of-type(odd):last-child {
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
}

.timeline-item:nth-of-type(even) {
  width: 50%;
  padding: 3em 2em 2em;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  margin-left: auto;
  left: -1px;
}
.timeline-item:nth-of-type(even) ul {
  list-style-type: circle;
  direction: ltr;
}
.timeline-item:nth-of-type(even)::before {
  content: attr(field);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1em;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.785rem;
}
.timeline-item:nth-of-type(even)::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: "";
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
}
.timeline-item:nth-of-type(even):last-child {
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
}

.content-image {
  border: 3px solid gray;
  margin-bottom: 0.5em;
  max-width: 80vw;
  height: auto;
  width: 250px;
}

.footer {
  grid-row: 4/5;
  height: 250px;
  background-image: none;
  margin-bottom: 0;
  background-color: #3C647D;
}

.button {
  margin: 0 auto 0 auto;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
}

/*# sourceMappingURL=style.css.map */
