@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans&family=Ubuntu&display=swap');

$font-1: 'Fjalla One', sans-serif;
$font-2: 'Noto Sans', sans-serif;
$font-3: 'Ubuntu', sans-serif;

$font-size-large: 64px;
$font-size-medium: 32px;
$font-size-small: 16px;

$weights: (
    "thin": 300,
    "normal": 400,
    "bold": 700,
    "heavy": 900
);