@use 'sass:map' as map;
@import 'fonts';
@import 'colors';

* {
    font-family: $font-3;
}

$alignments: (
    "center": center,
    "spaceeven": space-evenly,
    "default": stretch,
    "left": left
);

$heights: ("footer": 250px);
$widths: ("full": 100%, "xllarge": 90%, "xlarge": 80%);
$box: (
    "margins": (
        "med": 100px
    ),

    "borders": (
        "radius": 5px
    ),

    "gaps": (
        "col": 35px,
        "row": 50px
    )
);

$center: 0 auto 0 auto;

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    padding: 0;
    margin: 0;
}

.header {
    grid-row: 1/2;
    height: 100vh;
    width: map.get($widths, "full");
    display: flex;
    align-items: map.get($alignments, "center");
    justify-content: map.get($alignments, "spaceeven");
    @include gradient;

    @media screen and (max-width: 1164px) {
        display: grid;
        justify-content: map.get($alignments, "default");
        justify-items: map.get($alignments, "center");
    }
}

.heading-1 {
    font-family: $font-1;
    color: white;
    font-size: $font-size-large;
    margin: $center;
    text-align: map.get($alignments, "center");
    animation: fadein 2s;
    max-width: map.get($widths, "xxlarge");

    @media screen and (max-width: 414px) {
        font-size: 9vw;
    }
}

.heading-2 {
    @extend .heading-1;
    font-family: $font-2;
    font-size: $font-size-medium;
    animation: fadein 4s;

    @media screen and (max-width: 414px) {
        font-size: 6vw;
    }
}

nav {
    grid-row: 2/3;
}

.paragraph-text {
    @extend .heading-1;
    font-family: $font-3;
    font-size: 1rem;
    animation: none;
    margin: 0;
    text-align: map.get($alignments, "left");
    color: black;
}

.footer-text {
    @extend .paragraph-text;
    color: white;
    margin: $center;
    text-align: map.get($alignments, "center");
}

.anchor-text {
    @extend .footer-text;
    text-decoration: none;
}

.content {
    grid-row: 3/4;
    background-color: map.get($background-colors, "Blue", "Light");
}

.part-a {
    max-width: map.get($widths, "xllarge");
    margin: map.get($box, "margins", "med") auto map.get($box, "margins", "med") auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: 800px) {
        grid-template-columns: auto;
        grid-template-rows: auto, 1fr;
        row-gap: map.get($box, "gaps", "row");
    }
}

.timeline-container {
    grid-column: 1/2;

    @media screen and (max-width: 800px) {
        grid-row: 2/3;
    }
}

.part-a-heading {
    @extend .heading-1;
    color: black;
    font-size: 2.5rem;
    animation: none;
    grid-row: 1/2;
    grid-column: 2/3;


    @media screen and (max-width: 800px) {
        grid-column: 1/2;
    }
}

.timeline-heading {
    font-family: $font-1;
    @include timeline-header-style;
    text-align: map.get($alignments, "left");
}

.timeline-item {
	padding: 3em 2em 2em;
	position: relative;
	color: rgba(black, .7);
	border-left: 2px solid $border-1;

    ul {
        list-style-type: circle;
    }

	&::before {
		content: attr(field);
		position: absolute;
		left: 2em;
		font-weight: bold;
		top: 1em;
		display: block;
		font-family: $font-4;
		font-weight: 700;
		font-size: .785rem;
	}

	&::after {
		width: 10px;
		height: 10px;
		display: block;
		top: 1em;
		position: absolute;
		left: -7px;
		border-radius: 10px;
		content: '';
		border: 2px solid $border-1;
		background: white;
	}

	&:last-child {
		border-image: $nth-child-gradient;
	}
}

.content-image {
    border: $border-2;
    margin-bottom: 0.5em;
    max-width: 80vw;
    height: auto;
    width: 250px;
}

.footer {
    @extend .header;
    grid-row: 4/5;
    height: map.get($heights, "footer");
    background-image: none;
    margin-bottom: 0;
    background-color: map.get($background-colors, "Blue", "Dark");
}

.button {
    margin: $center;
    border: 1px solid white;
    background-color: transparent;
    border-radius: map.get($box, "borders", "radius");
    padding: map.get($box, "borders", "radius");
}