@use 'sass:map' as map;
@import 'fonts';
@import 'colors';

@mixin content-center {
    margin-left: auto;
    margin-right: auto;
}

$alignment-1: center;

$heights: ("header": 500px);
$widths: ("full": 100%);
$margins: ("top": 100px);

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    padding: 0;
    margin: 0;
}

.header {
    grid-row: 1/2;
    height: map.get($heights, "header");
    width: map.get($widths, "full");
    display: flex;
    align-items: $alignment-1;
    justify-content: $alignment-1;
    background-color: map.get($background-colors, "Blue", "Dark");
    margin-bottom: map.get($margins, "top");
    @include gradient;
}

.heading-1 {
    @include content-center;
    font-family: $font-1;
    color: white;
    font-size: $font-size-large;
}

.content {
    grid-row: 3/4;
}

.footer {
    @extend .header;
    grid-row: 4/5;
    height: calc(map.get($heights, "header") * 0.5);
    background-image: none;
    margin-bottom: 0;
}