!!! 5
%html
    %head
        %meta{:charset => "utf-8"}
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
        %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}
        %link{:rel => "icon", :href => "imgs/ca_10.png", :type => "image/x-icon"}
        -# %style *{border-style: dashed;}
        %title SEP10 Project
        %link{:href => "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css", :rel => "stylesheet", :integrity => "sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ", :crossorigin => "anonymous"}
    %body
        .header#0
            %h1.heading-1 Oceanography
            %h2.heading-2 The Past and Future of the Study of the Oceans
        %nav.navbar.navbar-expand-sm.bg-info-subtle.sticky-top
            .container-fluid
                %button.navbar-toggler{:type => "button", :data => {:bs => {:toggle => "collapse", :target => "#navbarNav"}}, :aria => {:controls => "navbarNav", :expanded => "false", :label => "Toggle navigation"}}
                    %span.navbar-toggler-icon
                .collapse.navbar-collapse#navbarNav
                    %ul.navbar-nav.me-auto.mb-2.mb-lg-0
                        %li.nav-item
                            %a.active.nav-link.anchor-text{:aria => "page", :href => "#0"}Top
                        %li.nav-item
                            %a.nav-link.anchor-text{:href => "#1"}Current Innovations
                        %li.nav-item
                            %a.nav-link.anchor-text{:href => "#2"}Future Innovations
                        %li.nav-item
                            %a.nav-link.anchor-text{:href => "https://github.com/austinl1905/sep10-freedom-project", :target => "_blank"}Website Repo
        .content-1#1
            .context
                %h2 What is Oceanography?
                %p.paragraph-text Oceanography is the scientific study of all aspects of the ocean. This includes but is not just limited to its physical and biological characteristics. This website will inform you on the many different innovations that currently exist in oceanography.
            .part-a#part-a
                .part-a-heading A Look at the Many Innovations in Oceanography
                .timeline-container
                    .timeline-item.reveal{:field => "Data"}
                        %h1.timeline-heading Distributed Oceanographic Data System (DODS)
                        %ul
                            %li
                                %p.paragraph-text Data networking software that makes it easier to acquire, collect, and share information.
                            %li
                                %p.paragraph-text Software that was originally used by oceanographers but now is open source for general use.
                            %li
                                %p.paragraph-text Helps different ocean observatories share disparate data and important observations.
                            %li
                                %p.paragraph-text Makes data accessible to remote locations regardless of storage formats through the use of WWW browsers.
                            %li
                                %p.paragraph-text Used by large organizations such as NASA and NOAA to help store historical data, satellite imagery, and real time oceanographic data recorded by ocean observing systems.
                            %li
                                %p.paragraph-text Pictures? Sorry, this innovation is just really obscure. More information can be found <a target="_blank" href="https://online.infobase.com/HRC/Search/Details/8?articleId=274761&q=%20oceanography%">here</a> though.
                    .timeline-item.reveal{:field => "Acoustical Oceanography"}
                        %h1.timeline-heading Sonar
                        %img.content-image{:src => "imgs/fishfinder.jpg", :alt => "A civilian sonar"}
                        %ul
                            %li
                                %p.paragraph-text Sonar (Sound navigation and ranging) is a technique that uses devices in order to detect sound and movement in the ocean.
                            %li
                                %p.paragraph-text Sonars exist in both military, civilian, and research applications. The image shown is a fish finder that can be used both by fisheries and research facilities. 
                            %li
                                %p.paragraph-text Sonars will determine the time it takes for an echo to bounce off of an underwater object and return to the source of the sound.
                            %li
                                %p.paragraph-text Depends highly on the environment (e.g. temperature, salinity, hydrostatic pressure).
                            %li
                                %p.paragraph-text Used by oceanographers for ocean navigation and mapping the seafloor.
                            %li
                                %p.paragraph-text More information on sonars <a target="_blank" href="https://online.infobase.com/HRC/Search/Details/8?articleId=273600&q">here</a>.
                    .timeline-item.reveal{:field => "Physical Oceanography"}
                        %h1.timeline-heading Ocean Remote Sensing
                        %img.content-image{:src => "imgs/oceanremotesensing.png", :alt => "ocean remote sensing"}
                        %ul
                            %li
                                %p.paragraph-text Remote sensing is able to measure the physical characteristics of an area, in this case the ocean floor, without directly contacting it.
                            %li
                                %p.paragraph-text There are two types of remote sensing used in oceanography, remote sensing and electromagnetic sensing.
                            %li
                                %p.paragraph-text Remote sensing is used by marine scientists to make large scale measurements in areas that would be too expensive to map with conventional measurements. For this reason it is an extremely important tool for mapping the ocean floor.
                            %li
                                %p.paragraph-text Can also be used to record the temperature and the salinity of the ocean
                            %li
                                %p.paragraph-text Data collected by these tools can be processed with remote sensing software to generate information from sensors
                            %li
                                %p.paragraph-text More information on Ocean Remote Sensing <a target="_blank" href="https://online.infobase.com/HRC/Search/Details/8?articleId=273530&q">here</a>.
                    .timeline-item.reveal{:field => "Physical Oceanography"}
                        %h1.timeline-heading TowCam
                        %img.content-image{:src => "imgs/TowCam.jpg", :alt => "TowCam"}
                        %ul
                            %li
                                %p.paragraph-text The TowCam is a camera that fulfills oceanographer’s needs for an imaging and sampling system. It is an internally recording deep-sea camera system that is capable of operating in nearly any condition.
                            %li
                                %p.paragraph-text The TowCam has many purposes, such as sampling the seabed of ocean ridge crests, surveying for deep-sea mapping, and sampling for geologists, biologists, chemists, and other researchers. It is accurate and efficient at what it does, making it very useful for interdisciplinary research and studies.
                            %li
                                %p.paragraph-text The camera allows for real-time acquisition of depth and altitude which is useful for making very accurate topographic maps of the seafloor.
                            %li
                                %p.paragraph-text The camera is able to withstand high hydrostatic pressure and contact with the ocean bottom. This allows it to take water samples at a depth.
                            %li
                                %p.paragraph-text After each “tow”, the data is immediately processed and is ready to be analyzed and configured. This makes the data very easy to review and upload.
                            %li
                                %p.paragraph-text More information on the TowCam <a target="_blank" href="https://www2.whoi.edu/site/miso/miso-instrumentation/towcam/">here</a>.
                    .timeline-item.reveal{:field => "Fishing"}
                        %h1.timeline-heading MOCNESS
                        %img.content-image{:src => "imgs/MOCNESS.jpg", :alt => "MOCNESS fishing net"}
                        %ul
                            %li
                                %p.paragraph-text MOCNESS can control 6-20 nets at a time, and it is pulled by a research ship that carries the data collected. This way scientists can control the depth and measure a precise area of water.
                            %li
                                %p.paragraph-text Plankton collected is swept into a “cod end”, where samples can be analyzed or preserved.
                            %li
                                %p.paragraph-text With the MOCNESS scientists are able to observe details of water and plankton in ocean currents that would otherwise be difficult to measure, such as the edges of the Gulf Stream and California Current. With real time data feeds and commands, it becomes very easy to collect many samples, saving research funds and time.
                            %li
                                %p.paragraph-text However, the MOCNESS still has limitations. It can only be used in open waters, requiring different devices for the ocean floor or reefs. The net also tends to move slowly, allowing some larger planktons to escape.
                            %li
                                %p.paragraph-text More information on MOCNESS <a target="_blank" href="https://www.whoi.edu/what-we-do/explore/instruments/instruments-sensors-samplers/mocness/">here</a>.
        .content-2#2
            .part-b#part-b
                .part-b-heading A Potential Innovation for the Future of Oceanography
                .part-b-container
                    .part-b-inner
                        %h2 My Proposal: A Device That Produces Water Resistant Photons
                        %p.paragraph-text <span style="font-weight: 700;">Context:</span> The main reason that light cannot reach the bottom of the ocean is because water will just scatter and absorb the particles to the point where they are so scattered apart that the ocean becomes pitch black. This is caused by light attenuation, which is a decrease in intensity caused when the depth of the water also increases.
                        %h5 What makes this different from current technology?
                        %ul.part-b-list
                            %li
                                %p.paragraph-text While we <span style="font-weight: 700;">do</span> have LED lights on submarines, they only illuminate what is immediately in front of the submarine, which is one of the main reasons exploring the deep ocean is extremely difficult.
                            %li
                                %p.paragraph-text By producing water resistant photons, the light will be more resistant to the water that would normally absorb it within the first few meters. It may not be able to produce electromagnetic radiation with complete water resistance, but it will far surpass the technology we currently have.
                            %li
                                %p.paragraph-text This device can help with navigating the ocean as well. Even though submarines are equipped with navigation equipment or topographic maps of the ocean, it can still be hard for oceanographers to tell where they are in relation to the map. Essentially, trying to do something relatively simple like finding a spot where a submarine previously was can be tedious and nightmarish, and comparable to trying to find a needle in a haystack. This device can act as a “beacon” that utilizes the map in order to guide submarines to where they need to navigate.
                            %li
                                %p.paragraph-text The device uses red light instead of blue-green light. Although blue-green light has a shorter wavelength and can therefore penetrate more water, it is much more intense and can harm marine animals which don’t normally see light in their lifetime and have a hard time adjusting to it. Red light is used by deep-sea explorers now because it gets absorbed first, and the majority of deep-sea fish don’t even have the photoreceptors that allow them to process red light.
                            %li
                                %p.paragraph-text This device will not only illuminate what is directly in front of the submarine, but will be able to both “focus” on a specific area (which can be up close or a few hundred meters away) and will be able to show the surroundings of the submarine, making exploration much easier since researchers will no longer be almost completely surrounded by complete darkness.
                            %li
                                %p.paragraph-text This device will also be compatible with ROVs (Remotely Operated Vehicle) and AUVs (Autonomous Underwater Vehicles), you would just attach it to the robot and then the person piloting it will be able to control when the light is turned on and where it shines. Video cameras can be mounted on top of the device to record anything that comes into view. Since the light produced by the device can penetrate much farther than conventional LED lights used by submarines right now, we will be able to record much more and potentially discover more marine species.
                            %li
                                %p.paragraph-text The device runs on a battery with especially high capacity so oceanographers can record more data and keep the device on for longer without having to resurface. Almost all electronics on submarines run on batteries, and this won’t be an exception since it's the only really viable way to store electricity on a submarine. Unfortunately, there are no renewable sources of energy four thousand fathoms underwater!
                            %li
                                %p.paragraph-text Also, this idea may seem completely ridiculous and probably will not become a reality in our lifetime. Guess what? I don't care.
        .footer
            %p.footer-text Made by Austin Liu
            %img.icon{:src => "imgs/ca9.png", :alt => "a rather angry looking cat"}
            %button.button{:type => "button"}
                %a.anchor-text{:href => "#0"}To Top
        %script{:src => "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js", :integrity => "sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe", :crossorigin => "anonymous"}
        %script{:src => "script.js"}