!!! 5
%html
    %head
        %meta{:charset => "utf-8"}
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
        %link{:rel => "icon", :href => "imgs/ca4.png", :type => "image/x-icon"}
        %title Funny
        %style body{display: flex; justify-content: center; align-items: center; height: 100vh; background-color: black; overflow-y: hidden;}
    %body
        %img{:src => "imgs/bakingsoda.png"}
