!!! 5
%html
    %head
        %meta{:charset => "utf-8"}
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
        %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}
        %link{:rel => "icon", :href => "imgs/ca_10.png", :type => "image/x-icon"}
        -# %style *{border-style: dashed;}
        %title Title
        %link{:href => "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css", :rel => "stylesheet", :integrity => "sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ", :crossorigin => "anonymous"}
    %body
        .header#header
            %h1.heading-1 Oceanography
            %h2.heading-2 The Past and Future of the Study of the Oceans
        %nav.navbar.navbar-expand-md.bg-info-subtle.sticky-top
            .container-fluid
                %button.navbar-toggler{:type => "button", :data => {:bs => {:toggle => "collapse", :target => "#navbarNav"}}, :aria => {:controls => "navbarNav", :expanded => "false", :label => "Toggle navigation"}}
                    %span.navbar-toggler-icon
                .collapse.navbar-collapse#navbarNav
                    %ul.navbar-nav.me-auto.mb-2.mb-lg-0
                        %li.nav-item
                            %a.active.nav-link.anchor-text{:aria => "page", :href => "#header"}Top
                        %li.nav-item
                            %a.nav-link.anchor-text{:href => "#part-a"}Current Innovations
                        %li.nav-item
                            %a.nav-link.anchor-text{:href => "#part-b"}Future Innovations
        .content-1
            .part-a#part-a
                .part-a-heading A Look at the Many Innovations in Oceanography
                .timeline-container
                    .timeline-item{:field => "Data"}
                        %h1.timeline-heading Distributed Oceanographic Data System (DODS)
                        %ul
                            %li
                                %p.paragraph-text Data networking software that makes it easier to acquire, collect, and share information.
                            %li
                                %p.paragraph-text Software that was originally used by oceanographers but now is open source for general use.
                            %li
                                %p.paragraph-text Helps different ocean observatories share disparate data and important observations.
                            %li
                                %p.paragraph-text Makes data accessible to remote locations regardless of storage formats through the use of WWW browsers.
                            %li
                                %p.paragraph-text Used by large organizations such as NASA and NOAA to help store historical data, satellite imagery, and real time oceanographic data recorded by ocean observing systems.
                            %li
                                %p.paragraph-text Pictures? Sorry, this innovation is just really obscure. More information can be found <a target="_blank" href="https://online.infobase.com/HRC/Search/Details/8?articleId=274761&q=%20oceanography%">here</a> though.
                    .timeline-item{:field => "Acoustical Oceanography"}
                        %h1.timeline-heading Sonar
                        %ul
                            %li
                                %p.paragraph-text Sonar (Sound navigation and ranging) is a technique that uses devices in order to detect sound and movement in the ocean.
                            %li
                                %p.paragraph-text Sonars will determine the time it takes for an echo to bounce off of an underwater object and return to the source of the sound.
                            %li
                                %p.paragraph-text Depends highly on the environment (e.g. temperature, salinity, hydrostatic pressure).
                            %li
                                %p.paragraph-text Used by oceanographers for ocean navigation and mapping the seafloor.
                            %li
                                %p.paragraph-text More information on sonars <a target="_blank" href="https://online.infobase.com/HRC/Search/Details/8?articleId=273600&q">here</a>.
                    .timeline-item{:field => "Physical Oceanography"}
                        %h1.timeline-heading Ocean Remote Sensing
                        %img.content-image{:src => "imgs/oceanremotesensing.png", :alt => "ocean remote sensing"}
                        %ul
                            %li
                                %p.paragraph-text Remote sensing is able to measure the physical characteristics of an area, in this case the ocean floor, without directly contacting it.
                            %li
                                %p.paragraph-text There are two types of remote sensing used in oceanography, remote sensing and electromagnetic sensing.
                            %li
                                %p.paragraph-text Remote sensing is used by marine scientists to make large scale measurements in areas that would be too expensive to map with conventional measurements. For this reason it is an extremely important tool for mapping the ocean floor.
                            %li
                                %p.paragraph-text Can also be used to record the temperature and the salinity of the ocean
                            %li
                                %p.paragraph-text Data collected by these tools can be processed with remote sensing software to generate information from sensors
                            %li
                                %p.paragraph-text More information on Ocean Remote Sensing <a target="_blank" href="https://online.infobase.com/HRC/Search/Details/8?articleId=273530&q">here</a>.
                    .timeline-item{:field => "Physical Oceanography"}
                        %h1.timeline-heading TowCam
                        %img.content-image{:src => "imgs/TowCam.jpg", :alt => "TowCam"}
                        %ul
                            %li
                                %p.paragraph-text The TowCam is a camera that fulfills oceanographer’s needs for an imaging and sampling system. It is an internally recording deep-sea camera system that is capable of operating in nearly any condition.
                            %li
                                %p.paragraph-text The TowCam has many purposes, such as sampling the seabed of ocean ridge crests, surveying for deep-sea mapping, and sampling for geologists, biologists, chemists, and other researchers. It is accurate and efficient at what it does, making it very useful for interdisciplinary research and studies.
                            %li
                                %p.paragraph-text The camera allows for real-time acquisition of depth and altitude which is useful for making very accurate topographic maps of the seafloor.
                            %li
                                %p.paragraph-text The camera is able to withstand high hydrostatic pressure and contact with the ocean bottom. This allows it to take water samples at a depth.
                            %li
                                %p.paragraph-text After each “tow”, the data is immediately processed and is ready to be analyzed and configured. This makes the data very easy to review and upload.
                            %li
                                %p.paragraph-text More information on the TowCam <a target="_blank" href="https://www2.whoi.edu/site/miso/miso-instrumentation/towcam/">here</a>.
                    .timeline-item{:field => "Fishing"}
                        %h1.timeline-heading MOCNESS
                        %img.content-image{:src => "imgs/MOCNESS.jpg", :alt => "MOCNESS fishing net"}
                        %ul
                            %li
                                %p.paragraph-text MOCNESS can control 6-20 nets at a time, and it is pulled by a research ship that carries the data collected. This way scientists can control the depth and measure a precise area of water.
                            %li
                                %p.paragraph-text Plankton collected is swept into a “cod end”, where samples can be analyzed or preserved.
                            %li
                                %p.paragraph-text With the MOCNESS scientists are able to observe details of water and plankton in ocean currents that would otherwise be difficult to measure, such as the edges of the Gulf Stream and California Current. With real time data feeds and commands, it becomes very easy to collect many samples, saving research funds and time.
                            %li
                                %p.paragraph-text However, the MOCNESS still has limitations. It can only be used in open waters, requiring different devices for the ocean floor or reefs. The net also tends to move slowly, allowing some larger planktons to escape.
                            %li
                                %p.paragraph-text More information on MOCNESS <a target="_blank" href="https://www.whoi.edu/what-we-do/explore/instruments/instruments-sensors-samplers/mocness/">here</a>.
        .content-2
            .part-b#part-b
                .part-b-heading A Potential Innovation for the Future of Oceanography

        .footer
            %p.footer-text Made by Austin Liu
            %button.button{:type => "button"}
                %a.anchor-text{:href => "#header"}To Top
        %script{:src => "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js", :integrity => "sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe", :crossorigin => "anonymous"}

