!!! 5
%html
    %head
        %meta{:charset => "utf-8"}
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
        %link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}
        %link{:rel => "icon", :href => "/imgs/ca_10.png", :type => "image/x-icon"}
        -# %style *{border-style: dashed;}
        %title Title
    %body
        .header
            %h1{:class => "heading-1"}Oceanography
            %h2{:class => "heading-2"}The Past and Future of the Study of the Oceans
        .content
        .footer
