@use 'sass:map' as map;
@import 'fonts';
@import 'colors';

$alignments: (
    "center": center,
    "spaceeven": space-evenly,
    "default": stretch
);

$heights: ("footer": 250px);
$widths: ("full": 100%, "xlarge": 90%);
$margins: ("top": 100px);
$center: 0 auto 0 auto;

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    padding: 0;
    margin: 0;
}

.header {
    grid-row: 1/2;
    height: 100vh;
    width: map.get($widths, "full");
    display: flex;
    align-items: map.get($alignments, "center");
    justify-content: map.get($alignments, "spaceeven");
    margin-bottom: map.get($margins, "top");
    @include gradient;

    @media screen and (max-width: 1164px) {
        display: grid;
        justify-content: map.get($alignments, "default");
        justify-items: map.get($alignments, "center");
    }
}

.heading-1 {
    font-family: $font-1;
    color: white;
    font-size: $font-size-large;
    margin: $center;
    text-align: map.get($alignments, "center");
    animation: fadein 2s;
    max-width: map.get($widths, "xlarge");
}

.heading-2 {
    @extend .heading-1;
    font-family: $font-2;
    font-size: $font-size-medium;
    animation: fadein 4s;
}

.content {
    grid-row: 3/4;
}

.footer {
    @extend .header;
    grid-row: 4/5;
    height: map.get($heights, "footer");
    background-image: none;
    margin-bottom: 0;
    background-color: map.get($background-colors, "Blue", "Dark");
}